.actions-container {
    display: flex;
    column-gap: 1.35rem;
    justify-content: center;
    border-radius: 0.25rem;
    padding: 0.9375rem 1.25rem;
    background: var(--color-very-light-gray);
    color: var(--color-dark-grayish-blue);
    font-weight: 700;
    font-size: 0.8rem;
}

.active-text {
    color: var(--color-blue);
}

/*
    dark mode styles
*/
body[data-theme="theme-dark"] .actions-container {
    background-color: var(--color-Very-dark-desaturated-blue);
    color: var(--color-very-dark-grayish-blue2);
}