.input-container {
    background: var(--color-very-light-gray);
    margin-top: 1.7rem;
    border-radius: .25rem;
    height: 3rem;
    display: flex;
    align-items: center;
    column-gap: .75rem;
    padding-left: 1.25rem;
}

input[type="text"] { 
    background: var(--color-very-light-gray);
    color:var(--color-dark-grayish-blue);
    font-weight: 400;
    font-size: .75rem;
    width: 80%;
    height: 3rem;
}

input[type="text"]:focus {
    outline: none;
}

/* 
    dark mode styles
*/

body[data-theme="theme-dark"] .input-container,
body[data-theme="theme-dark"] input[type="text"] {
    background: var(--color-Very-dark-desaturated-blue);
}

body[data-theme="theme-dark"] input[type="text"] {
    color: var(--color-dark-grayish-blue2);
}