.input-container {
    background: var(--color-very-light-gray);
    margin-top: 1.7rem;
    border-radius: .25rem;
    height: 3rem;
    display: flex;
    align-items: center;
    column-gap: .75rem;
    padding-left: 1.25rem;
}

.input { 
    background: var(--color-very-light-gray);
    color:var(--color-dark-grayish-blue);
    font-weight: 400;
    font-size: .75rem;
    width: 80%;
    height: 3rem;
}

.input:focus {
    outline: none;
    color:var(--color-very-dark-grayish-blue);
}

/* 
    dark mode styles
*/

body[data-theme="theme-dark"] .input-container,
body[data-theme="theme-dark"] .input {
    background: var(--color-Very-dark-desaturated-blue);
}

body[data-theme="theme-dark"] .input {
    color: var(--color-dark-grayish-blue2);
}

body[data-theme="theme-dark"] .input:focus {
    color: var(--color-light-grayish-blue2);
}

/*
    Responsive design
*/
@media (min-width: 40rem) { /* 640px*/
    .input-container {
        margin-top: 1.75rem;
        border-radius: .5rem;
        height: 4.125rem;
        padding-left: 1.5rem;
        column-gap: 1.5rem;
    }

    .input {
        font-size: 1.1rem;
        height: 4rem;
        margin-top: 0.125rem;
    }
}