.list-container {
    background: var(--color-very-light-gray);
    border-radius: 0.25rem;
}

.item {
    display: flex;
    column-gap: .75rem;
    border-bottom: 1px solid var(--color-light-grayish-blue);
    padding:1rem 1.25rem;
}

.title {
    color:var(--color-very-dark-grayish-blue);
    font-weight: 400;
    font-size: .75rem;
}

.cross {
    margin-left: auto;
    align-self: center;
    min-width: 0.75rem;
}

.cross img {
    width: 0.75rem;
    height: 0.75rem;
}

.info {
    display: flex;
    justify-content: space-between;
    padding:1rem 1.25rem;
    color:var(--color-dark-grayish-blue);
    font-weight: 400;
    font-size: .75rem;
}