.list-container {
    background: var(--color-very-light-gray);
    border-radius: 0.25rem;
}

.item {
    display: flex;
    column-gap: .75rem;
    border-bottom: 1px solid var(--color-light-grayish-blue);
    padding:1rem 1.25rem;
}

.title {
    color:var(--color-very-dark-grayish-blue);
    font-weight: 400;
    font-size: .75rem;
}

.completed {
    color: var(--color-light-grayish-blue);
    text-decoration: line-through;
}

.cross {
    margin-left: auto;
    align-self: center;
    min-width: 0.75rem;
}

.cross img {
    width: 0.75rem;
    height: 0.75rem;
}

.info {
    display: flex;
    justify-content: space-between;
    padding:1rem 1.25rem;
    color:var(--color-dark-grayish-blue);
    font-weight: 400;
    font-size: .75rem;
}


/*
    dark mode styles
*/
body[data-theme="theme-dark"] .list-container {
    background-color: var(--color-Very-dark-desaturated-blue);
}

body[data-theme="theme-dark"] .item {
    border-bottom-color: var(--color-very-dark-grayish-blue3);
}

body[data-theme="theme-dark"] .title {
    color: var(--color-light-grayish-blue2);
}

body[data-theme="theme-dark"] .completed {
    color:var(--color-very-dark-grayish-blue2);
}

body[data-theme="theme-dark"] .info {
    color:var(--color-very-dark-grayish-blue2);
}