.btn {
    min-width: 1.25rem;
    height: 1.25rem;
    border: 1px solid var(--color-light-grayish-blue);
    border-radius: 100%;
    align-self: center;
}

.btn:hover:empty {
    border-radius: 100%;
    background: linear-gradient(var(--color-very-light-gray), var(--color-very-light-gray)) padding-box,
              linear-gradient(to right, #57ddff, #c058f3) border-box;
    border-radius: 100%;
    border: 1px solid transparent;
}

.checked {
    background:linear-gradient(120deg,#57ddff, #c058f3);
}

.checked img {
    padding-left: .25rem;
    width: 0.85rem;
}

/*
    dark mode styles
*/
body[data-theme="theme-dark"] .btn {
    border-color: var(--color-very-dark-grayish-blue3);
}
body[data-theme="theme-dark"] .btn:hover:empty {
    background: linear-gradient(var(--color-Very-dark-desaturated-blue), var(--color-Very-dark-desaturated-blue)) padding-box,
              linear-gradient(to right, #57ddff, #c058f3) border-box;
}


/*
    Responsive design
*/
@media (min-width: 40rem) { /* 640px*/
    .btn {
        min-width: 1.5rem;
        height: 1.5rem;
    }
    .checked img {
        padding-left: .4rem;
        width: 1rem;
    }
}